@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  align-items: center;
  display: flex;
  padding: 1rem 3rem;

  &__slogan {
    display: flex;
    align-items: center;

    &--primary {
      color: $blue-color;
      font-family: $main-font;
      font-size: 2rem;
      margin: 0;
    }

    &--secondary {
      color: $red-color;
      font-family: $custom-font;
      font-size: 2rem;
      margin: 0;
    }
  }

  &__items {
    display: none;
    flex: 1;
    justify-content: right;
    list-style: none;

    @include breakpoint(lg) {
      display: flex;
    }
  }

  &__item {
    cursor: pointer;
    margin: 0 1rem;
    color: $blue-color;
    font: 1rem $custom-font;

    &:hover {
      color: $red-color;
      text-decoration: underline;
      transition: color .3s;
    }

    &--active {
      color: $red-color;
    }
  }

  &__home {
    cursor: pointer;
    display: flex;
    margin-left: auto;

    @include breakpoint(lg) {
      display: none;
    }
  }
}