@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.cards {
  position: relative;
  height: 40rem;
  padding: 0 0.3rem;

  @include breakpoint(sm) {
    padding: 0 4rem;
  }

  &__title {
    color: $red-color;
    font-family: $main-font;
    font-size: 3rem;
    padding: 8rem 0 0;
    margin-left: 1rem;

    @include breakpoint(sm) {
      margin-left: 0;
      font-size: 4rem;
      padding: 2rem 2rem 0;
    }

    @include breakpoint(lg) {
      padding: 0 2rem 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    width: 100%;
    position: absolute;
    overflow-x: auto;
    padding: 4rem 0 1rem;
    top: 10rem;

    @include breakpoint(sm) {
      top: 7rem;
      width: 85%;
    }

    @include breakpoint(lg) {
      top: 10rem;
      width: 100%;
    }
  }

  &__item {
    align-items: flex-end;
    background: $background-card;
    border-radius: 1rem;
    box-shadow: $shadow;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0.5rem;
    max-width: 10rem;
    min-width: 10rem;
    height: 10rem;
    padding: 2rem 1rem 1rem;
    position: relative;
    top: 0;

    @include breakpoint(sm) {
      margin: 0 1rem;
      max-width: 15rem;
      min-width: 15rem;
      padding: 6rem 1rem 1rem;
    }

    &:hover {
      height: auto;
      padding: 4rem 1rem 1rem;

      @include breakpoint(sm) {
        padding: 6rem 1rem 1rem;
      }
    }

    .close {
      display: none;
    }

    .open {
      display: flex;
    }

    &--containerImg {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &--image {
      border-radius: 50%;
      box-shadow: $shadow;
      height: 6rem;
      object-fit: cover;
      position: absolute;
      top: -3rem;
      width: 6rem;
      z-index: 3;

      @include breakpoint(sm) {
        height: 8rem;
        width: 8rem;
      }
    }

    &--titles {
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      height: 6rem;
    }

    &--title {
      color: $red-color;
      font-family: $custom-font;
      font-size: 1rem;
      max-width: 45%;
      padding: 0 0.3rem;
      text-align: center;
    }

    &--subtitle {
      color: $red-color;
      font-family: $main-font;
      font-size: 1.4rem;
      max-width: 45%;
      padding: 0 0.3rem;
      text-align: center;
    }

    &--calification {
      align-items: center;
      height: 2rem;
      margin-top: 2rem;
      width: 100%;
    }

    &--score {
      color: $blue-color;
      font-family: $custom-font;
      font-size: 1.4rem;
      font-weight: 500;
      margin-left: 0.2rem;
      margin-right: auto;
    }

    &--star,
    &--heart {
      height: 1.5rem;
      width: 1.5rem;
    }

    &--content {
      display: flex;
      flex-direction: column;
    }

    &--section {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      &-title {
        color: $red-color;
        font-family: $main-font;
        font-size: 1.2rem;
        margin: 0;
      }

      &-text {
        color: $blue-color;
        font-family: $custom-font;
        font-size: 1rem;
        margin: 0;
      }

      &-ico {
        width: 1.4rem;
      }
    }
  }
}
