$screen-sm:                            569px !default;   // Small screen / phone
$screen-md:                            769px !default;   // Medium screen / table
$screen-lg:                            1080px !default;  // large screen / desktop
$screen-xl:                            1250px !default;  //Extra large screen/wide desktop

$red-color:                            red;
