@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.background {
  position: relative;

  &__image {
    min-height: 15rem;
    object-fit: cover;
    width: 100%;
  }

  &__caption {
    position: absolute;
    top: 5rem;
    left: 10%;

    @include breakpoint (sm) {
      left: 15%;
      top: 5rem;
    }

    @include breakpoint (lg) {
      top: 10rem;
    }
  }

  &__title {
    color: $light-color;
    font-family: $custom-font;
    font-size: 4rem;
    margin: 0;

    @include breakpoint (sm) {
      font-size: 4.5rem;
    }

    @include breakpoint (lg) {
      font-size: 3.8rem;
    }
  }

  &__subtitle {
    color: $light-color;
    font: 3.5rem $main-font;
    margin: -1.8rem 0;

    @include breakpoint (sm) {
      font-size: 3.8rem;
    }

    @include breakpoint (lg) {
      font-size: 3rem;
    }
  }
}